{% extends 'records/base.html' %}


{% block content %}
<h1>Mails</h1>
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
           <p>Register date</p> {{records.register_date}}
        </div>
        <div class="col-md-6">
            <p>Sender</p>{{records.sender}}
        </div>
        
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-4">
            <p>Ref.number</p> {{records.ref_number}}
        </div>
        <div class="col-md-6">
            <p>Subject</p>{{records.subject}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <p>Address date</p>{{records.address_date}}
        </div>
        <div class="col-md-4">
            <p>File to</p> {{records.file_to}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <p>remarks</p>{{records.remarks}}
        </div>
    </div>
   
    <br>
    <div class="row">
        <div class="col-md-8">
            <button class="btn btn-success btn-sm " type="submit">
                <i class="fa fa-database" aria-hidden="true"></i> submit
            </button>
        </div>
    </div>
   
   
</form>
{% endblock content %}