{% extends 'records/base.html' %}


{% block content %}

<h1>Outgoing Mails</h1>
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
           <p>Register date</p> {{records.register_date}}
        </div>
        <div class="col-md-6">
            <p>Sender</p>{{records.mail_sender}}
        </div>
        
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-4">
            <p>Receipient </p> {{records.mail_receiver}}
        </div>
        <div class="col-md-6">
            <p>Reference Number</p>{{records.ref_number}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <p>Subject</p>{{records.subject}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <p>Collected By</p> {{records.collected_by}}
        </div>
        <div class="col-md-4">
            <p>Collecting Date</p>{{records.collecting_date}}
        </div>
    </div>
   
   
    <br>
    <div class="row">
        <div class="col-md-8">
            <button class="btn btn-success btn-sm " type="submit">
                <i class="bi bi-database" aria-hidden="true"></i> Save
            </button>
        </div>
    </div>
   
   

{% endblock content %}
