{% extends 'users/BaseUser.html' %}

{% block content %}
<div class="back">
    <div class="div-center">
      <div class="content">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
          {{message}}
          <button type="button" class="close" date-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        <h3>User Registration</h3>
        <hr />
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="Email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label >Username</label>
                <input type="text" name="Username" class="form-control" id="user" placeholder="Username">
            </div> 
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="Password1" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" name="Password2" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <hr />
            <a href="{% url 'login_page'%}"><button type="button" class="btn btn-link">Back to login</button></a>
        </form>
      </div>
      </span>
    </div>
    {% endblock content %}